
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(../images/biblioteca.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

main {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 1rem;
  border-radius: 20px;
  max-width: 520px;
}

section {
  width: 100%;
  height: 100%;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  border-radius: 20px;
  max-width: 500px;
}

form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
}

div {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.7rem 2rem;
  margin-top: 2rem;
  border: none;
  font-size: 1rem;
  background: #1c8607c7;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  border-radius: 0.7rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

button:hover {
  background: #23a10a;
  transform: scale(1.05);
}

button:active {
  background: #ffffff;
  color: #23a10a;
}

a {
  color: rgb(82, 168, 65);
  text-decoration: underline;
  font-weight: 600;
}

a:hover {
  transform: scale(1.13);
}

a:active {
  color: #ffffff;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  background: transparent;
  font-size: 1rem;
  outline: none;
  border-bottom: 1px solid rgb(70, 70, 70);
  
}

::placeholder{
    color: rgb(70, 70, 70);
}

input:hover{
    border-bottom: 1px solid rgb(51, 94, 57);
    color: rgb(51, 94, 57);
}
input:focus{
    border-bottom: 1px solid #1c8607c7;
    color: #1c8607c7;
}


h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #1c8607c7;
}

.alertC{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1050; 
  
}

.alert{
  padding-right: 3rem;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 0;
}

.input-fieldD {
  width: 50%;
  font-size: 0.9rem;} 

  label {
    font-size: 0.8rem;
    color: #000000c7;
    display: flex;
    align-items: center;

  }

  #idUser{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  i{
    color: #1c8607c7;
    justify-content: center;
    align-items: center;
  }

  input[disabled] {
    opacity: 0.4; 
  }